@font-face {
    font-family: F1Bold;
    src: url("../Constant/fonts/Formula1-Bold_web_0.ttf");
  }
  @font-face {
    font-family: F1Regular;
    src: url("../Constant/fonts/Formula1-Regular_web_0.ttf");
  }
  @font-face {
    font-family: F1Wide;
    src: url("../Constant/fonts/Formula1-Wide_web_0.ttf");
  }
  @media only screen and (max-width: 896px) {
    .cards {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
    }
    .cards > .driver-card {
      width: 700px;
    }
  }
  @media only screen and (max-width: 770px) {
    .cards {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
    }
    .cards > .driver-card {
      width: 95%;
    }
  }
  
  .driver-card {
    width: 400px;
    height: 100%;
    border-top: 2px black solid;
    border-right: 2px black solid;
    border-top-right-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 0.8s;
    transition-delay: 0s;
    transform-style: preserve-3d;
    
  }
  
  .flip-card-back {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: white;
    color: white;
    transform: rotateY(180deg);
    border-top: 2px gray solid;
    border-left: 2px gray solid;
    border-top-left-radius: 15px;
  }
  
  .info-card {
    text-align: center;
    color: black;
  }
  
  /* Every from card */
  .driver-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px black solid;
    margin-bottom: 10px;
  }
  
  .driver-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: content-box;
    height: 10%;
    padding-bottom: 10px;
    border-bottom: 1px black solid;
    margin-bottom: 10px;
  }
  
  .driver-team {
    font-family: F1Regular;
    color: gray;
    font-size: 12px;
    letter-spacing: 0.7px;
    padding-top: 15px;
    margin-bottom: 20px;
  }
  
  .driver-appearance {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    background-image: url("plus-x1.png");
  }
  
  /* Every props from card */
  .rank {
    font-family: F1Bold;
    font-size: 2.652rem;
  }
  
  .score {
    display: flex;
    gap: 10px;
  }

  .add-points-bttn {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 30px;
    height: 100%;
    padding-right: 2px;
  }

  .increase-points {
    --b: 4px; 
  width: calc(100% - 4px);
  height: calc(40%-5px);
  margin-top: 5px;
  aspect-ratio: 1;
  border: 2px solid #000; 
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#000 90deg,#fff 0) 
    calc(100% + var(--b)/2) calc(100% + var(--b)/2)/
    calc(50%  + var(--b))   calc(50%  + var(--b));
  display: inline-block;
  cursor: pointer;
  }

  .decrease-points {
    --b: 4px; 
  width: calc(100% - 4px);
  height: calc(40%-5px);
  margin-bottom: 5px;
  aspect-ratio: 1;
  border: 2px solid #000; 
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#000 90deg,#fff 0) 
    calc(100% + var(--b)/2) calc(100% + var(--b)/2)/
    calc(50%  + var(--b))   calc(50%  + var(--b));
  display: inline-block;
  cursor: pointer;
  }
  
  .points {
    display: flex;
    align-items: center;
    height: 75px;
  }
  .driver-points {
    font-family: F1Wide;
    font-size: 18px;
    line-height: 15px;
    letter-spacing: 0.5px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .points-text {
    justify-content: center;
    padding: 2px;
    font-size: 12px;
    width: 75px;
    border-radius: 15px;
  }
  
  .driver-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 17px;
    padding-left: 15px;
    border-left: 5px solid #3671c6;
    -webkit-animation-duration: 0.1s;
    animation-duration: 0.1s;
  }
  
  .first-name {
    font-family: F1Regular;
    font-size: 12px;
    letter-spacing: 0.7px;
  }
  
  .last-name {
    font-family: F1Bold;
    font-size: 18px;
  }
  
  .driver-country {
    width: 48px;
    height: 32px;
    border: 1px gray solid;
    border-radius: 5px;
    -webkit-animation-duration: 0.1s;
    animation-duration: 0.1s;
  }
  
  .driver-image,
  .country-image {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .driver-number {
    font-family: F1Bold;
    text-align: center;
    width: 15%;
    background-color: white;
    font-size: 35px;
  }
  
  .driver-photo {
    width: 50%;
  }
  
  .mercedes {
    font-size: 30px;
  }
  
  /* Common props */
  .backg-blk {
    background-color: black;
    color: white;
  }
  
  /* TRANSITIONS */
  @-webkit-keyframes bounce {
    40% {
      transform: translateY(-2px);
    }
  }
  @keyframes bounce {
    40% {
      transform: translateY(-2px);
    }
  }
  /* BORDER CARD EFFECT */
  .driver-card:hover {
    padding-top: 5px;
    margin-top: 5px;
  }
  
  /* BOUNCE driver NAME EFFECT */
  .driver-card:hover > .driver-info > .driver-country {
    -webkit-animation-name: bounce;
    animation-name: bounce;
  }
  
  /* BOUNGE FLAG EFFECT */
  .driver-card:hover > .driver-info > .driver-name {
    -webkit-animation-name: bounce;
    animation-name: bounce;
  }
  
  /* FLIP CARD EFFECT */
  /* .driver-card:hover {
    transform: rotateY(180deg);
    transition-delay: 1s;
  }
   */
  /* CHANGE SCORE BUTTON */
  .change-score {
    display: flex;
    justify-content: center;
    margin: 20px 0px 200px 0px;
  }
  
  .select-team {
    height: 30px;
    margin: 30px 30px 0px 0px;
  }
  
  .button {
    box-shadow: 3px 4px 0px 0px #db3323;
    background: linear-gradient(to bottom, #fae3e1 5%, #e6ccca 100%);
    background-color: #fae3e1;
    border-radius: 18px;
    border: 1px solid #d44439;
    display: inline-block;
    cursor: pointer;
    color: #a884a8;
    font-family: Arial;
    font-size: 17px;
    padding: 7px 25px;
    text-decoration: none;
    height: 50px;
    width: 80px;
    margin-top: 10px;
    margin-left: 35px;
    text-shadow: 0px 1px 0px #9e6b67;
  }
  
  .button:hover {
    background: linear-gradient(to bottom, #e6ccca 5%, #fae3e1 100%);
    background-color: #e6ccca;
  }
  
  .button:active {
    position: relative;
    top: 1px;
  }
  
  /* INput text */
  .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 150px;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: gray;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
    width: 100%;
    text-align: center;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    -o-border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
  }
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
  }
  
  /* reset input */
  .form__field:required,
  .form__field:invalid {
    box-shadow: none;
  }
  